<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_1.jpg") %></div>
  </section>
</div>

<div class="page-title">
  <section class="layout">
    <h1>Thank You<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792" target="_blank"><%= image_tag("Donate_Now.jpg") %></a></h1>
  </section>
</div>

<div class="contact-page-layout">
  <div class="page-text">
    <p>Signs of Hope in Africa
      <br>
      433-1575 Begbie Street, Victoria, BC Canada, V8R 1L2
      <br>Email: info@signsofhopeinafrica.org
      <br>Tel: 250-514-9192</p>
  </div>
</div>
<br>
<br>

<div class="contact-page-layout">
<div class="contact-image">
  <section class="layout">
    <div class="branding"><%= image_tag("contact_image.jpg") %></div>
  </section>
</div>

	<section="layout">
<div class="page-title">
  	<br>
			<p>Hello <%= @visitor.name %>,
			<br>
			<br>
			Thank you for your enquiry.
			<br>
			<br>
			We will be in touch with you shortly.
			<br>
			<br>
			Sincerely,
			<br>
			<br>
			Signs Of Hope In Africa</p>
	</div>
</section>
</div>
