/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require fancybox
 *= require_tree .
 */
/* line 19, ../../app/assets/stylesheets/_layout.scss */
.navigation-layout {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.navigation-layout:after {
  content: "";
  display: table;
  clear: both;
}

/* line 24, ../../app/assets/stylesheets/_layout.scss */
.program-page-layout {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.program-page-layout:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 47em) {
  /* line 28, ../../app/assets/stylesheets/_layout.scss */
  .program-page-layout .page-text {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
}

/* line 35, ../../app/assets/stylesheets/_layout.scss */
.layout {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.layout:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 47em) {
  /* line 39, ../../app/assets/stylesheets/_layout.scss */
  .layout .boardmembers {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
}
/* line 47, ../../app/assets/stylesheets/_layout.scss */
.layout .members img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 150px;
  height: 200px;
}
@media (min-width: 47em) {
  /* line 54, ../../app/assets/stylesheets/_layout.scss */
  .layout .biography {
    width: 74.57627%;
    float: right;
    margin-right: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background: #faffe8;
    padding: 10px;
  }
  /* line 61, ../../app/assets/stylesheets/_layout.scss */
  .layout .biography h3 {
    margin-top: 0px;
    color: #0195dd;
  }
  /* line 66, ../../app/assets/stylesheets/_layout.scss */
  .layout .biography p {
    font-size: 20px;
  }
  /* line 70, ../../app/assets/stylesheets/_layout.scss */
  .layout .biography .small {
    font-size: 16px;
  }
}

/* line 81, ../../app/assets/stylesheets/_layout.scss */
body {
  background: #ecffa6;
}

/* line 85, ../../app/assets/stylesheets/_layout.scss */
h1 {
  color: #4aa353;
}

/* line 89, ../../app/assets/stylesheets/_layout.scss */
p {
  font-size: 20px;
  line-height: normal;
  text-align: justify;
  color: #0195dd;
}

/* line 96, ../../app/assets/stylesheets/_layout.scss */
.navigation {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 5px;
}
/* line 38, ../../../../.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.navigation:after {
  content: "";
  display: table;
  clear: both;
}
/* line 102, ../../app/assets/stylesheets/_layout.scss */
.navigation ul {
  padding: 0px;
  margin: 0px;
}
/* line 107, ../../app/assets/stylesheets/_layout.scss */
.navigation li {
  display: inline-block;
  margin-bottom: 10px;
  padding: 2px;
}

/* line 114, ../../app/assets/stylesheets/_layout.scss */
.branding {
  /* styling for image mobile first layout */
}
/* line 116, ../../app/assets/stylesheets/_layout.scss */
.branding img {
  width: 100%;
  margin: 0px;
}

/* line 125, ../../app/assets/stylesheets/_layout.scss */
.statements h1 {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
  padding: 0px;
  color: #4aa353;
}
/* line 133, ../../app/assets/stylesheets/_layout.scss */
.statements ul {
  padding: 0px;
}
/* line 138, ../../app/assets/stylesheets/_layout.scss */
.statements li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  border: 1px solid #4aa353;
  background: #f7ffd9;
  padding: 10px;
}

/* line 149, ../../app/assets/stylesheets/_layout.scss */
.board h1 {
  text-align: center;
}

/* line 154, ../../app/assets/stylesheets/_layout.scss */
.small {
  font-size: 16px;
}

/* line 160, ../../app/assets/stylesheets/_layout.scss */
.members img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  display: inline;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 180px;
  height: 240px;
  padding: 2px;
}

/* line 170, ../../app/assets/stylesheets/_layout.scss */
.biography {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4aa353;
  margin-bottom: 20px;
}
/* line 175, ../../app/assets/stylesheets/_layout.scss */
.biography h3 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #4aa353;
  margin: 0px;
  background: #f7ffd9;
  padding: 10px;
}
/* line 184, ../../app/assets/stylesheets/_layout.scss */
.biography p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background: #f7ffd9;
  padding: 10px;
  margin: 0px;
  color: #0195dd;
}

/* line 193, ../../app/assets/stylesheets/_layout.scss */
.socialmediaicons {
  background: #4aa353;
}
/* line 197, ../../app/assets/stylesheets/_layout.scss */
.socialmediaicons li {
  display: inline-block;
  margin: 0px;
}
/* line 202, ../../app/assets/stylesheets/_layout.scss */
.socialmediaicons img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  height: 30px;
  border: 2px solid white;
}

/* line 211, ../../app/assets/stylesheets/_layout.scss */
.easter-event-title h3 {
  color: #4aa353;
  margin-top: 0px;
  text-align: center;
}

/* line 220, ../../app/assets/stylesheets/_layout.scss */
.easter-poster img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 600px;
}

/* line 229, ../../app/assets/stylesheets/_layout.scss */
.easter-poster-text p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4aa353;
  background: #f7ffd9;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
  color: #0195dd;
}

/* line 242, ../../app/assets/stylesheets/_layout.scss */
.race-event-title h3 {
  color: #4aa353;
  margin-top: 10px;
  text-align: center;
}

/* line 251, ../../app/assets/stylesheets/_layout.scss */
.race-poster img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
  height: 600px;
}

/* line 260, ../../app/assets/stylesheets/_layout.scss */
.race-poster-text p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4aa353;
  background: #f7ffd9;
  color: #0195dd;
  font-size: 20px;
  padding: 10px;
  margin: 0px;
}

/* line 273, ../../app/assets/stylesheets/_layout.scss */
.page-text p {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #4aa353;
  background: #f7ffd9;
  padding: 5px;
  margin: 0px;
}
