<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("Signs_of_Hope_in_Africa_2.jpg") %></div>
  </section>
</div>

<div class="primary">
	<section class="layout">

	</section>
</div>
