<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("header_image_9.jpg") %></div>
  </section>
</div>

<div class="page-title">
	<section class="layout">
		<h1>How You Can Help<a href="https://www.canadahelps.org/CharityProfilePage.aspx?CharityID=s100792"><%= image_tag("Donate_Now.jpg") %></a></h1>
	</section>
</div>
