<div>
  <section class="layout">
    <div class="slideshow">
    	<%= image_tag("Signs_of_Hope_in_Africa_1.jpg", class: "active") %>
    	<%= image_tag("Signs_of_Hope_in_Africa_2.jpg") %>
    	<%= image_tag("Signs_of_Hope_in_Africa_3.jpg") %>
    </div>
  </section>
</div>

<div class="program-page-layout">
	<section class="layout">
	<div class="statements">
		  <ul>
		    <li><h1>Our Mission</h1>We are a Canadian not-for-profit organization dedicated to improving the quality of life for children and their families living in Jambiani, Tanzania.</li>
		    <li><h1>Programs</h1>Through sustainable initiatives, we empower villagers to break the cycle of poverty and thrive as a community. Our programs employ and are managed by local villagers.</li>

		    <li><h1>Join Us</h1>Amazing Race For Africa Sunday November 3rd, 2013 from 11am-4pm. Teams of 4!  <strong><a href="http://www.eventbrite.ca/o/signs-of-hope-in-africa-4658699205?ref=eorgbtn" target="blank">Get registered</a></strong> now to avoid disappointment! Details under <strong><%= link_to "Events", welcome_events_path %>.</strong></li>
		  </ul>
	</div>
</section>
</div>
<script>
	function slideSwitch() {
    var $active = $('.slideshow IMG.active');

    if ( $active.length == 0 ) $active = $('.slideshow IMG:last');

    var $next =  $active.next().length ? $active.next()
        : $('.slideshow IMG:first');

    $active.addClass('last-active');

    $next.css({opacity: 0.0})
        .addClass('active')
        .animate({opacity: 1.0}, 1000, function() {
            $active.removeClass('active last-active');
        });
}

$(function() {
    setInterval( "slideSwitch()", 5000 );
});
</script>

