<div class="hero">
  <section class="layout">
    <div class="branding"><%= image_tag("Signs_of_Hope_in_Africa_1.jpg") %></div>
  </section>
</div>

<div class="statements">
	<section class="layout">
	  <div>
	    <h1>Our Mission</h1>
	    <p>We are a Canadian not-for-profit organization dedicated to improving the quality of life for children and their families living in Jambiani, Tanzania.</p>
	  </div>
	  <div>
	    <h1>Programs</h1>
	    <p>Through sustainable initiatives, we empower villagers to break the cycle of poverty and thrive as a community. Our programs employ and are managed by local villagers.</p>
	  </div>
	  <div>
	    <h1>Join Us</h1>
	    <p>AMAZING RACE FOR AFRICA, Sunday November 3rd, 2013 from 11am-4pm. Teams of 4!  Get registered now to avoid disappointment! Details under Events.</p>
	  </div>
	</section>
</div>

