@import "variables";
@import "compass";
@import "susy";
@import "compass/css3/pie";
@import "compass/support";

// Susy setup

$total-columns       :       12;
$column-width        :       4em;
$gutter-width        :       1em;
$grid-padding        :       $gutter-width;


$small               :       30em;
$medium              :       45em;
$large               :       75em;

//Content

.slimmenu {
	@include container;
	padding: 0px;
	behavior: url(/assets/PIE.htc);
}

.navigation-layout {
	@include container;
	padding: 0px;
	behavior: url(/assets/PIE.htc);
}

.program-page-layout  {
	@include container;
		padding: 0px;
		behavior: url(/assets/PIE.htc);

		ul {
			margin: 0px;
			behavior: url(/assets/PIE.htc);
		}

		li {
			color: $hopeBlue;
			behavior: url(/assets/PIE.htc);
		}

	.page-text {
		@include at-breakpoint($medium) {
			@include span-columns(8,12);
			behavior: url(/assets/PIE.htc);
		}
	}
}

.layout {
	@include container;
	padding: 1%;
	behavior: url(/assets/PIE.htc);

	.boardmembers {
		@include at-breakpoint($medium) {
			@include span-columns(2,12);
			behavior: url(/assets/PIE.htc);
		}
	}

	.members {

		img {
			@include border-radius(10px);
			width: 150px;
			height: 200px;
			behavior: url(/assets/PIE.htc);
		}
	}

	.about-us {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);
	}

	p {
		@include border-radius(10px);
		border: 1px solid $hopeGreen;
		background: lighten($hopeYellow, 10);
		padding: 20px;
		margin: 0px;
	}

	}

	.biography {
		@include at-breakpoint($medium) {
			@include span-columns(9 omega,12);
			@include border-radius(10px);
			background: lighten($hopeYellow, 13);
			padding: 10px;
			behavior: url(/assets/PIE.htc);

			h3 {
				margin-top: 0px;
				color: $hopeBlue;
				behavior: url(/assets/PIE.htc);
			}

			p {
				font-size: 20px;
				behavior: url(/assets/PIE.htc);
			}

			.small {
				font-size: 16px;
				behavior: url(/assets/PIE.htc);
			}
		}
	}
}

.page-photos {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);

	img {
		@include border-radius(10px);
		width: 75px !important;
		height: 75px !important;
		margin: 5px !important;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.page-title {

	h1 {
		margin: 0px;
		font-size: 20px;
		behavior: url(/assets/PIE.htc);
	}

	a {
		float: right;
		margin-bottom: 20px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 40px;
		width: 75px;
		behavior: url(/assets/PIE.htc);
	}
}

.page-title {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);

	h1 {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	a {
		float: right;
		margin-bottom: 20px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 60px;
		width: 150px;
		behavior: url(/assets/PIE.htc);
		}
	}
}

////////////////////////////////////
//Styling for mobile first layout//
//////////////////////////////////

body {
	//@include background(linear-gradient(top, lighten($hopeYellow, 3), $hopeWhite));
	background: $hopeYellow;
	behavior: url(/assets/PIE.htc);
}

h1 {
	color: darken($hopeBlue, 10);
	behavior: url(/assets/PIE.htc);
}

p {
		font-size: 20px;
		line-height: normal;
		text-align: justify;
		color: $hopeBlue;
		behavior: url(/assets/PIE.htc);
	} // styling for p tags for mobile first layout

.navigation {
	@include container;
	behavior: url(/assets/PIE.htc);

	font-size: 20px;
	padding: 5px;

	ul {
		padding: 0px;
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	} // styling for ul mobile first navigation layout

 	li {
 		display: inline-block;
 		margin-bottom: 10px;
 		padding: 2px;
 		behavior: url(/assets/PIE.htc);
 	} // styling for li mobile first navigation layout
 } // End of navigation styling for mobile first layout

.branding {
	padding: 0px;

	img {
		@include border-radius(10px);
		width: 100%;
		margin: 0px;
		height: auto;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
		//height: auto;
	} /* styling for image mobile first layout */
} // End of branding styling

.statements {

	h1 {
		font-size: 24px;
		text-align: center;
		margin-top: 20px;
		padding: 0px;
		color: darken($hopeBlue, 10);
		behavior: url(/assets/PIE.htc);
	} // styling for h2 tags for mobile first layout on home page

	ul {
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

a:link {
		color: darken($hopeBlue, 10);
		text-decoration: none;
		behavior: url(/assets/PIE.htc);
	}

	li {
		@include border-radius(10px);
			display: block;
			border: 1px solid $hopeGreen;
			background: lighten($hopeYellow, 10);
			padding: 10px;
			color: $hopeBlue;
			font-size: 20px;
			text-align: justify;
			behavior: url(/assets/PIE.htc);
	}
}

.statements {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);

	h1 {
		font-size: 24px;
		text-align: center;
		margin-top: 20px;
		padding: 0px;
		color: darken($hopeBlue, 10);
		behavior: url(/assets/PIE.htc);
	} // styling for h2 tags for mobile first layout on home page

	ul {
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	a:link {
		color: darken($hopeBlue, 10);
		text-decoration:none;
		behavior: url(/assets/PIE.htc);
	}

	li {
		@include border-radius(10px);
			display: block;
			border: 1px solid $hopeGreen;
			background: lighten($hopeYellow, 10);
			padding: 10px;
			color: $hopeBlue;
			font-size: 20px;
			text-align: justify;
			behavior: url(/assets/PIE.htc);
		}
	}
}

.board {

	h1 {
		margin-bottom: 10px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}
}

.small {
				font-size: 16px;
				behavior: url(/assets/PIE.htc);
			}

.members {

		img {
			@include border-radius(10px);
			@include span-columns(2,12);
			@include border-radius(10px);
			width: 180px;
			height: 240px;
			padding: 2px;
			behavior: url(/assets/PIE.htc);
		}
	}

.biography {
	@include border-radius(10px);
	border: 1px solid $hopeGreen;
	margin-bottom: 20px;
	behavior: url(/assets/PIE.htc);

	h3 {
		@include border-radius(10px);
		color: $hopeGreen;
		margin: 0px;
		background: lighten($hopeYellow, 10);
		padding: 10px;
		behavior: url(/assets/PIE.htc);

	}

	p {
		@include border-radius(10px);
			background: lighten($hopeYellow, 10);
			padding: 10px;
			margin: 0px;
			color: $hopeBlue;
			behavior: url(/assets/PIE.htc);
	}
}

.socialmediaicons {
	@include container;
	@include border-radius(10px);
	background: lighten($hopeGreen, 10);
	padding: 10px;
	behavior: url(/assets/PIE.htc);

	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	li {
		float: right;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 35px;
		width: 35px;
		margin-left: 5px;
		behavior: url(/assets/PIE.htc);
	}
}

.donate {

	img {
		height: 35px;
		width: 110px !important;
		behavior: url(/assets/PIE.htc);
	}
} /* This sectio for movbile first styling of social media icons */

.socialmediaicons {
	@include at-breakpoint($medium) {
		@include border-radius(10px);
		background: lighten($hopeGreen, 10);
		padding: 10px;
		behavior: url(/assets/PIE.htc);
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	li {
		float: right;
		display: inline-block;
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 60px;
		width: 60px;
		margin-left: 10px;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.donate {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);

	img {
		height: 60px;
		width: 150px !important;
		behavior: url(/assets/PIE.htc);
		}
	}
} /* This for styling of donate button mobile first */

.difference {
	h3 {
		color: $hopeYellow;
		font-size: 16px;
		margin-right: 15px;
		font-weight: 400;
		behavior: url(/assets/PIE.htc);
	}
}

.difference {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);
	h3 {
		color: $hopeYellow;
		font-size: 20px;
		margin-right: 150px;
		behavior: url(/assets/PIE.htc);
		}
	}
}


.easter-poster {

	h3 {
		color: $hopeBlue;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		width: 100%;
		height: 600px;
		behavior: url(/assets/PIE.htc);
	}
}

.easter-poster-text {

	p {
		@include border-radius(10px);
			border: 1px solid $hopeGreen;
			background: lighten($hopeYellow, 10);
			font-size: 20px;
			padding: 10px;
			margin: 0px;
			color: $hopeBlue;
			behavior: url(/assets/PIE.htc);
	}
}

.race-poster {

	img {
		@include border-radius(10px);
		width: 100%;
		height: 600px;
		behavior: url(/assets/PIE.htc);
	}
}

.race-poster-text {

	p {
		@include border-radius(10px);
			border: 1px solid $hopeGreen;
			background: lighten($hopeYellow, 10);
			color: $hopeBlue;
			font-size: 20px;
			padding: 10px;
			margin: 0px;
			behavior: url(/assets/PIE.htc);
	}
}

.page-text {

	p {
		@include border-radius(10px);
			border: 1px solid $hopeGreen;
			background: lighten($hopeYellow, 10);
			padding: 20px;
			margin: 0px;
			margin-bottom: 10px;
			behavior: url(/assets/PIE.htc);
	}
}

.page-photos {
	@include border-radius(10px);
	behavior: url(/assets/PIE.htc);

	img {
		border-radius: 10px;
		width: 75px;
		height: 75px;
		margin-left: 15px;
		behavior: url(/assets/PIE.htc);
	}
}

.events-page-layout {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);

		.easter-poster {
			@include span-columns(5,12);
			behavior: url(/assets/PIE.htc);

			img {
				width: 100%;
				height: 400px;
				behavior: url(/assets/PIE.htc);
			}

			h3{
				color: $hopeBlue;
				margin: 0px;
				margin-bottom: 10px;
				behavior: url(/assets/PIE.htc);
			}
		}

		.easter-poster-text {
			@include span-columns(6,12);
			behavior: url(/assets/PIE.htc);

			p {
				margin-top: 30px;
				behavior: url(/assets/PIE.htc);
			}
		}

		.race-poster {
			@include span-columns(5,12);
			behavior: url(/assets/PIE.htc);

			img {
				width: 100%;
				height: 400px;
				behavior: url(/assets/PIE.htc);
			}

			h3{
				color: $hopeBlue;
				behavior: url(/assets/PIE.htc);
			}
		}

		.race-poster-text {
			@include span-columns(6,12);
			behavior: url(/assets/PIE.htc);

			p {
				margin-top: 60px;
				behavior: url(/assets/PIE.htc);
			}
		}

		.easter-event-title {

			h1 {
				color: $hopeBlue;
				margin: 0px;
				margin-left: -5px;
				font-size: 24px;
				behavior: url(/assets/PIE.htc);
			}
		}
	}
}

.gold-sponsors {
	@include at-breakpoint($medium) {
		@include border-radius(10px);
		behavior: url(/assets/PIE.htc);
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		margin-left: 50px !important;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: inline-block !important;
		padding: 5px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 80px !important;
		width: 200px !important;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.gold-sponsors {

	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: block;
		margin: 0px;
		padding-bottom: 10px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 80px;
		width: 100%;
		max-width: 320;
		behavior: url(/assets/PIE.htc);
	}
}

.silver-sponsors {
	@include at-breakpoint($medium) {
		@include border-radius(10px);
		behavior: url(/assets/PIE.htc);
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		margin-left: 125px !important;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: inline-block !important;
		padding: 10px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 40px !important;
		width: 150px !important;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.silver-sponsors {

	padding-bottom: 20px;
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: block;
		margin: 0px;
		padding-top: 20px;
		behavior: url(/assets/PIE.htc);

	}

	img {
		@include border-radius(10px);
		height: 40px;
		width: 100%;
		max-width: 250;
		behavior: url(/assets/PIE.htc);
	}
}

.island-tents {
	@include border-radius(10px);
	background: $islandTents;
	behavior: url(/assets/PIE.htc);

	img {
		height: 60px;
		behavior: url(/assets/PIE.htc);
	}
}

.seaside-designs {

	h1 {
		text-align: center;
		behavior: url(/assets/PIE.htc);
	}

	a:link {
		text-decoration: none;
		behavior: url(/assets/PIE.htc);
	}
}

.bronze-sponsors {
	@include at-breakpoint($medium) {
		@include border-radius(10px);
		behavior: url(/assets/PIE.htc);
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		margin-left: 125px !important;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: inline-block !important;
		padding: 10px;
		behavior: url(/assets/PIE.htc);
	}

	img {
		@include border-radius(10px);
		height: 40px !important;
		width: 100px !important;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.bronze-sponsors {

	padding-bottom: 20px;
	p {
		margin: 0px;
		behavior: url(/assets/PIE.htc);
	}

	ul {
		margin: 0px;
		padding: 0px;
		behavior: url(/assets/PIE.htc);
	}

	li {
		display: block;
		margin: 0px;
		padding-top: 20px;
		behavior: url(/assets/PIE.htc);

	}

	img {
		@include border-radius(10px);
		height: 40px;
		width: 100%;
		max-width: 250;
		behavior: url(/assets/PIE.htc);
	}
}

.atwood-brewka {

	h4 {
		text-align: center;
		color: $islandTents;
		behavior: url(/assets/PIE.htc);
	}

	a:link {
		text-decoration: none;
		behavior: url(/assets/PIE.htc);
	}
}

.other-sponsors {
	@include at-breakpoint($medium) {
		behavior: url(/assets/PIE.htc);
	margin-left: 250px;

	p {
		font-size: 18px;
		color: $hopeBlue;
		text-align: left;
		behavior: url(/assets/PIE.htc);
		}
	}
}

.other-sponsors {

	p {
		font-size: 18px;
		color: $hopeBlue;
		text-align: left;
		behavior: url(/assets/PIE.htc);
	}
}

.how-you-can {
	margin: 0px;
	behavior: url(/assets/PIE.htc);

	h1 {
		margin-top: 0px;
		margin-bottom: 10px;
		behavior: url(/assets/PIE.htc);
	}

	p {
		@include border-radius(10px);
		background: lighten($hopeYellow, 10);
		border: 1px solid $hopeGreen;
		margin-top: 10px;
		padding: 20px;
		margin: 0px;
		margin-bottom: 20px;
		behavior: url(/assets/PIE.htc);
	}
}

.highlighted-text {
		color: darken($hopeBlue, 10);
		behavior: url(/assets/PIE.htc);

		a:link {
			text-decoration: none;
			behavior: url(/assets/PIE.htc);
		}
}

.simple-form {

		p {
			color: darken($hopeBlue,10);
			behavior: url(/assets/PIE.htc);
		}

	 input {
	 	@include border-radius(4px);
	 	height: 30px;
	 	margin-bottom: 10px;
	 	color: darken($hopeBlue,10);
	 	font-size: 12px;
	 	behavior: url(/assets/PIE.htc);
	 }

	 ::-webkit-input-placeholder {
   color: darken($hopeBlue,10);
   font-size: 12px;
   behavior: url(/assets/PIE.htc);
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: darken($hopeBlue,10);
   font-size: 12px;
   behavior: url(/assets/PIE.htc);
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: darken($hopeBlue,10);
   font-size: 12px;
   behavior: url(/assets/PIE.htc);
	}

	:-ms-input-placeholder {
	   ccolor: darken($hopeBlue,10);
   font-size: 12px;
   behavior: url(/assets/PIE.htc);
	}
}

.create {
    background-color: lighten($hopeGreen,10);
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color: $hopeYellow !important;
    height: 60px !important;
    font-family:arial;
    font-size: 14px !important;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
    margin-top: 10px;
    margin-left: 0px;
}.create:hover {
    background-color: lighten($hopeGreen,20);
    cursor: pointer;
}.create:active {
    position:relative;
    top:1px;
}

.slideshow {
    position: relative;
		height: 200px;


    img {
    	@include border-radius(10px);
    	width: 100%;
    	height: 200px;
    	behavior: url(/assets/PIE.htc);
    }
}

.slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

.slideshow IMG.active {
    z-index:10;
}

.slideshow IMG.last-active {
    z-index:9;
}

.slideshow {
		@include at-breakpoint($medium) {
    position: relative;
    height: 420px;



    img {
    	@include border-radius(10px);
    	width: 100%;
    	height: 400px;
    }
}

.slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

.slideshow IMG.active {
    z-index:10;
}

.slideshow IMG.last-active {
    z-index:9;
	}
}

